## Création de données
### DataFrame (Table)

In [20]:
import pandas as pd
pd.DataFrame({'Oui': [50, 21], 'Non': [131, 2]})

   Oui  Non
0   50  131
1   21    2

### Dans cet exemple, l'entrée "0, Non" a la valeur 131. L'entrée "0, Oui" a la valeur 50, et ainsi de suite.

## Meme exemple avec des chainnes de caractere

In [21]:
pd.DataFrame({'Bob': ['Grand', 'Noir'], 'Sue': ['Petit', 'Blanc.']})

     Bob     Sue
0  Grand   Petit
1   Noir  Blanc.

## La liste des étiquettes de lignes (Index)

In [22]:
pd.DataFrame({'Bob': ['Grand', 'Noir'], 
              'Sue': ['Petit', 'Blanc.']},
             index=['Caracteristique A', 'Caracteristique B'])

                     Bob     Sue
Caracteristique A  Grand   Petit
Caracteristique B   Noir  Blanc.

## Creer Une série (une séquence de valeurs de données)ou liste

In [23]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

### une série n'a pas de nom de colonne, elle n'a qu'un seul nom global

In [24]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Liste de vente')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Liste de vente, dtype: int64

## Open csv Files

In [25]:
wine_reviews = pd.read_csv("covid (1).csv")

### verifier la taille du dataframe

In [38]:
wine_reviews.shape

(209, 15)

In [40]:
df = pd.DataFrame(columns = ['A', 'B'], index = ['a', 'b'])
df

     A    B
a  NaN  NaN
b  NaN  NaN

### Afficher par defaut les cinq premières lignes du dataframe

In [27]:
wine_reviews.head()

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
1,Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
2,India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
3,Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
4,South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

### spécifier un index_col.

In [28]:
wine_reviews = pd.read_csv("covid (1).csv", index_col=0)
wine_reviews.head()

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa

In [29]:
#import pandas as pd
#reviews = pd.read_csv("covid (1).csv", index_col=0)
#pd.option.('dislay.max_rows', 5)

In [36]:
wine_reviews

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

## pour accéder à la propriété d'un continent  nous pouvons utiliser

In [ ]:
reviews.Continent

Country/Region
USA                      North America
Brazil                   South America
India                             Asia
Russia                          Europe
South Africa                    Africa
                             ...
Montserrat               North America
Caribbean Netherlands    North America
Falkland Islands         South America
Vatican City                    Europe
Western Sahara                  Africa
Name: Continent, Length: 209, dtype: object

### Meme chose avec l'opérateur d'indexation ([]).

In [35]:
wine_reviews['Continent']

Country/Region
USA                      North America
Brazil                   South America
India                             Asia
Russia                          Europe
South Africa                    Africa
                             ...
Montserrat               North America
Caribbean Netherlands    North America
Falkland Islands         South America
Vatican City                    Europe
Western Sahara                  Africa
Name: Continent, Length: 209, dtype: object

### Afficher une seule valeur spécifique avec l'opérateur d'indexation [] une fois de plus :

In [ ]:
reviews['Continent'][7]

'South America'

### Pour sélectionner la première ligne de données dans un DataFrame

In [ ]:
reviews.iloc[0]

Continent           North America
Population            331198130.0
TotalCases                5032179
NewCases                      NaN
TotalDeaths              162804.0
NewDeaths                     NaN
TotalRecovered          2576668.0
NewRecovered                  NaN
ActiveCases             2292707.0
Serious,Critical          18296.0
Tot Cases/1M pop          15194.0
Deaths/1M pop               492.0
TotalTests             63139605.0
Tests/1M pop             190640.0
WHO Region               Americas
Name: USA, dtype: object

### Pour obtenir une colonne avec iloc, nous pouvons procéder comme suit

In [ ]:
reviews.iloc[:3, 0]

Country/Region
USA       North America
Brazil    South America
India              Asia
Name: Continent, dtype: object

### pour sélectionner la colonne de Continent uniquement dans la première, la deuxième et la troisième ligne

In [ ]:
reviews.iloc[:3, 1]

Country/Region
USA       3.311981e+08
Brazil    2.127107e+08
India     1.381345e+09
Name: Population, dtype: float64

### sélectionner uniquement les deuxième et troisième entrées

In [ ]:
reviews.iloc[1:3, 0]

Country/Region
Brazil    South America
India              Asia
Name: Continent, dtype: object

### Une liste

In [ ]:
reviews.iloc[[0, 1, 2], 0]

Country/Region
USA       North America
Brazil    South America
India              Asia
Name: Continent, dtype: object

### voici les cinq derniers éléments du jeu de données

In [ ]:
reviews.iloc[-5:]

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,critic,index_backwards
Country/Region,,,,,,,,,,,,,,,,,
Montserrat,North America,4992.0,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN,everyone,5
Caribbean Netherlands,North America,26247.0,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN,everyone,4
Falkland Islands,South America,3489.0,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN,everyone,3
Vatican City,Europe,801.0,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe,everyone,2
Western Sahara,Africa,598682.0,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa,everyone,1

### la première entrée

In [ ]:
##reviews.loc[0, ['Continent']]

### indexer par position. loc

In [33]:
reviews.loc[:, ['Continent', 'Population', 'TotalCases']]

NameError: name 'reviews' is not defined

### Manipulation de l'indice

In [ ]:
reviews.set_index("Population")

,Continent,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Population,,,,,,,,,,,,,,
3.311981e+08,North America,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
2.127107e+08,South America,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
1.381345e+09,Asia,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
1.459409e+08,Europe,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
5.938157e+07,Africa,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4.992000e+03,North America,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
2.624700e+04,North America,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
3.489000e+03,South America,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
8.010000e+02,Europe,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
5.986820e+05,Africa,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

### vérifier si chaque Pays est Asiatique ou non

In [ ]:
reviews.Continent == 'Asia'

Country/Region
USA                      False
Brazil                   False
India                     True
Russia                   False
South Africa             False
                         ...
Montserrat               False
Caribbean Netherlands    False
Falkland Islands         False
Vatican City             False
Western Sahara           False
Name: Continent, Length: 209, dtype: bool

#### Cette opération a produit une série de booléens Vrai/Faux basés sur le Continent de chaque enregistrement.

### Celle ci retourne ceux qui sont uniquement de l'Asie

In [ ]:
reviews.loc[reviews.Continent == 'Asia']

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Iran,Asia,8.409762e+07,320117,NaN,17976.0,NaN,277463.0,NaN,24678.0,4156.0,3806.0,214.0,2612763.0,31068.0,EasternMediterranean
Saudi Arabia,Asia,3.486592e+07,284226,NaN,3055.0,NaN,247089.0,NaN,34082.0,1915.0,8152.0,88.0,3635705.0,104277.0,EasternMediterranean
Pakistan,Asia,2.212959e+08,281863,NaN,6035.0,NaN,256058.0,NaN,19770.0,809.0,1274.0,27.0,2058872.0,9304.0,EasternMediterranean
Bangladesh,Asia,1.648514e+08,249651,NaN,3306.0,NaN,143824.0,NaN,102521.0,NaN,1514.0,20.0,1225124.0,7432.0,South-EastAsia
Turkey,Asia,8.442833e+07,237265,NaN,5798.0,NaN,220546.0,NaN,10921.0,580.0,2810.0,69.0,5081802.0,60191.0,Europe
Iraq,Asia,4.030602e+07,140603,NaN,5161.0,NaN,101025.0,NaN,34417.0,517.0,3488.0,128.0,1092741.0,27111.0,EasternMediterranean
Philippines,Asia,1.097227e+08,119460,NaN,2150.0,NaN,66837.0,NaN,50473.0,239.0,1089.0,20.0,1669996.0,15220.0,WesternPacific
Indonesia,Asia,2.738084e+08,118753,NaN,5521.0,NaN,75645.0,NaN,37587.0,NaN,434.0,20.0,1633156.0,5965.0,South-EastAsia
Qatar,Asia,2.807805e+06,112092,NaN,178.0,NaN,108831.0,NaN,3083.0,77.0,39922.0,63.0,511000.0,181993.0,EasternMediterranean
Kazakhstan,Asia,1.879867e+07,95942,NaN,1058.0,NaN,68871.0,NaN,26013.0,221.0,5104.0,56.0,2163713.0,115099.0,Europe
Oman,Asia,5.118446e+06,80713,NaN,492.0,NaN,70910.0,NaN,9311.0,177.0,15769.0,96.0,309212.0,60411.0,EasternMediterranean
Israel,Asia,9.197590e+06,79559,NaN,576.0,NaN,53427.0,NaN,25556.0,358.0,8650.0,63.0,1872453.0,203581.0,Europe
Kuwait,Asia,4.276658e+06,70045,NaN,469.0,NaN,61610.0,NaN,7966.0,127.0,16378.0,110.0,522200.0,122105.0,EasternMediterranean
UAE,Asia,9.902079e+06,61845,NaN,354.0,NaN,55739.0,NaN,5752.0,NaN,6246.0,36.0,5262658.0,531470.0,EasternMediterranean
Singapore,Asia,5.854932e+06,54555,NaN,27.0,NaN,48031.0,NaN,6497.0,NaN,9318.0,5.0,1474372.0,251817.0,WesternPacific
Bahrain,Asia,1.706669e+06,42889,NaN,156.0,NaN,39945.0,NaN,2788.0,41.0,25130.0,91.0,876700.0,513691.0,EasternMediterranean
Japan,Asia,1.264359e+08,42263,NaN,1026.0,NaN,28877.0,NaN,12360.0,115.0,334.0,8.0,938739.0,7425.0,WesternPacific
Armenia,Asia,2.963811e+06,39819,NaN,772.0,NaN,31556.0,NaN,7491.0,NaN,13435.0,260.0,171600.0,57898.0,Europe
Kyrgyzstan,Asia,6.534479e+06,38659,NaN,1447.0,NaN,30099.0,NaN,7113.0,24.0,5916.0,221.0,267718.0,40970.0,Europe
Afghanistan,Asia,3.900945e+07,36896,NaN,1298.0,NaN,25840.0,NaN,9758.0,31.0,946.0,33.0,90396.0,2317.0,EasternMediterranean
Azerbaijan,Asia,1.014824e+07,33247,NaN,479.0,NaN,29275.0,NaN,3493.0,66.0,3276.0,47.0,766179.0,75499.0,Europe
Uzbekistan,Asia,3.351603e+07,28315,NaN,175.0,NaN,19291.0,NaN,8849.0,228.0,845.0,5.0,1377915.0,41112.0,Europe
Nepal,Asia,2.918649e+07,21750,NaN,65.0,NaN,15389.0,NaN,6296.0,NaN,745.0,2.0,731977.0,25079.0,South-EastAsia
S. Korea,Asia,5.127373e+07,14519,20.0,303.0,1.0,13543.0,42.0,673.0,18.0,283.0,6.0,1613652.0,31471.0,WesternPacific
Palestine,Asia,5.112340e+06,13398,NaN,92.0,NaN,6907.0,NaN,6399.0,NaN,2621.0,18.0,200280.0,39176.0,EasternMediterranean
Malaysia,Asia,3.240637e+07,9038,NaN,125.0,NaN,8713.0,NaN,200.0,2.0,279.0,4.0,991333.0,30591.0,WesternPacific
Tajikistan,Asia,9.557468e+06,7665,NaN,62.0,NaN,6443.0,NaN,1160.0,NaN,802.0,6.0,NaN,NaN,Europe
Lebanon,Asia,6.822220e+06,5672,NaN,70.0,NaN,1974.0,NaN,3628.0,46.0,831.0,10.0,345268.0,50609.0,EasternMediterranean
Maldives,Asia,5.414480e+05,4680,NaN,19.0,NaN,2725.0,NaN,1936.0,12.0,8643.0,35.0,85587.0,158071.0,South-EastAsia
Hong Kong,Asia,7.503041e+06,3850,NaN,46.0,NaN,2458.0,NaN,1346.0,39.0,513.0,6.0,692430.0,92287.0,WesternPacific
Thailand,Asia,6.981789e+07,3330,NaN,58.0,NaN,3148.0,NaN,124.0,1.0,48.0,0.8,749213.0,10731.0,South-EastAsia
Sri Lanka,Asia,2.142236e+07,2839,NaN,11.0,NaN,2541.0,NaN,287.0,1.0,133.0,0.5,166737.0,7783.0,South-EastAsia
Yemen,Asia,2.988690e+07,1768,NaN,508.0,NaN,898.0,NaN,362.0,NaN,59.0,17.0,120.0,4.0,EasternMediterranean
Jordan,Asia,1.021314e+07,1232,NaN,11.0,NaN,1171.0,NaN,50.0,3.0,121.0,1.0,628745.0,61562.0,EasternMediterranean
Cyprus,Asia,1.208238e+06,1208,NaN,19.0,NaN,856.0,NaN,333.0,NaN,1000.0,16.0,216597.0,179267.0,Europe
Georgia,Asia,3.988368e+06,1206,NaN,17.0,NaN,987.0,NaN,202.0,NaN,302.0,4.0,240473.0,60294.0,Europe
Syria,Asia,1.753960e+07,999,NaN,48.0,NaN,311.0,NaN,640.0,NaN,57.0,3.0,NaN,NaN,EasternMediterranean
Vietnam,Asia,9.742547e+07,747,NaN,10.0,NaN,392.0,NaN,345.0,NaN,8.0,0.1,482456.0,4952.0,WesternPacific
Taiwan,Asia,2.382120e+07,477,NaN,7.0,NaN,443.0,NaN,27.0,NaN,20.0,0.3,82737.0,3473.0,WesternPacific
Myanmar,Asia,5.444639e+07,357,NaN,6.0,NaN,308.0,NaN,43.0,NaN,7.0,0.1,122290.0,2246.0,South-EastAsia
Mongolia,Asia,3.283344e+06,293,NaN,NaN,NaN,260.0,NaN,33.0,1.0,89.0,NaN,38334.0,11675.0,WesternPacific
Cambodia,Asia,1.674138e+07,243,NaN,NaN,NaN,210.0,NaN,33.0,1.0,15.0,NaN,67807.0,4050.0,WesternPacific
Brunei,Asia,4.378930e+05,141,NaN,3.0,NaN,138.0,NaN,0.0,NaN,322.0,7.0,41148.0,93968.0,NaN
Bhutan,Asia,7.724430e+05,105,NaN,NaN,NaN,93.0,NaN,12.0,NaN,136.0,NaN,54589.0,70671.0,South-EastAsia
Macao,Asia,6.501930e+05,46,NaN,NaN,NaN,46.0,NaN,0.0,NaN,71.0,NaN,4071.0,6261.0,NaN
Timor-Leste,Asia,1.320812e+06,25,NaN,NaN,NaN,24.0,NaN,1.0,NaN,19.0,NaN,4238.0,3209.0,South-EastAsia
Laos,Asia,7.285750e+06,20,NaN,NaN,NaN,19.0,NaN,1.0,NaN,3.0,NaN,29374.0,4032.0,WesternPacific

### Meme chose avec un totalCases >= 61845

In [ ]:
reviews.loc[(reviews.Continent == 'Asia') & (reviews.TotalCases >= 61845)]

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Iran,Asia,8.409762e+07,320117,NaN,17976.0,NaN,277463.0,NaN,24678.0,4156.0,3806.0,214.0,2612763.0,31068.0,EasternMediterranean
Saudi Arabia,Asia,3.486592e+07,284226,NaN,3055.0,NaN,247089.0,NaN,34082.0,1915.0,8152.0,88.0,3635705.0,104277.0,EasternMediterranean
Pakistan,Asia,2.212959e+08,281863,NaN,6035.0,NaN,256058.0,NaN,19770.0,809.0,1274.0,27.0,2058872.0,9304.0,EasternMediterranean
Bangladesh,Asia,1.648514e+08,249651,NaN,3306.0,NaN,143824.0,NaN,102521.0,NaN,1514.0,20.0,1225124.0,7432.0,South-EastAsia
Turkey,Asia,8.442833e+07,237265,NaN,5798.0,NaN,220546.0,NaN,10921.0,580.0,2810.0,69.0,5081802.0,60191.0,Europe
Iraq,Asia,4.030602e+07,140603,NaN,5161.0,NaN,101025.0,NaN,34417.0,517.0,3488.0,128.0,1092741.0,27111.0,EasternMediterranean
Philippines,Asia,1.097227e+08,119460,NaN,2150.0,NaN,66837.0,NaN,50473.0,239.0,1089.0,20.0,1669996.0,15220.0,WesternPacific
Indonesia,Asia,2.738084e+08,118753,NaN,5521.0,NaN,75645.0,NaN,37587.0,NaN,434.0,20.0,1633156.0,5965.0,South-EastAsia
Qatar,Asia,2.807805e+06,112092,NaN,178.0,NaN,108831.0,NaN,3083.0,77.0,39922.0,63.0,511000.0,181993.0,EasternMediterranean
Kazakhstan,Asia,1.879867e+07,95942,NaN,1058.0,NaN,68871.0,NaN,26013.0,221.0,5104.0,56.0,2163713.0,115099.0,Europe
Oman,Asia,5.118446e+06,80713,NaN,492.0,NaN,70910.0,NaN,9311.0,177.0,15769.0,96.0,309212.0,60411.0,EasternMediterranean
Israel,Asia,9.197590e+06,79559,NaN,576.0,NaN,53427.0,NaN,25556.0,358.0,8650.0,63.0,1872453.0,203581.0,Europe
Kuwait,Asia,4.276658e+06,70045,NaN,469.0,NaN,61610.0,NaN,7966.0,127.0,16378.0,110.0,522200.0,122105.0,EasternMediterranean
UAE,Asia,9.902079e+06,61845,NaN,354.0,NaN,55739.0,NaN,5752.0,NaN,6246.0,36.0,5262658.0,531470.0,EasternMediterranean

### En ajoutant un ou logique

In [ ]:
reviews.loc[(reviews.Continent == 'Asie') | (reviews.TotalDeaths >= 41638.0)]

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Mexico,North America,1.290662e+08,462690,6590.0,50517.0,819.0,308848.0,4140.0,103325.0,3987.0,3585.0,391.0,1056915.0,8189.0,Americas
UK,Europe,6.792203e+07,308134,NaN,46413.0,NaN,NaN,NaN,NaN,73.0,4537.0,683.0,17515234.0,257873.0,Europe

### isin permet de sélectionner des données dont la valeur "est dans" une liste de valeurs.

In [ ]:
reviews.loc[reviews.Continent.isin(['Asia', 'Europe'])]

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
Spain,Europe,4.675665e+07,354530,NaN,28500.0,NaN,NaN,NaN,NaN,617.0,7582.0,610.0,7064329.0,151087.0,Europe
Iran,Asia,8.409762e+07,320117,NaN,17976.0,NaN,277463.0,NaN,24678.0,4156.0,3806.0,214.0,2612763.0,31068.0,EasternMediterranean
UK,Europe,6.792203e+07,308134,NaN,46413.0,NaN,NaN,NaN,NaN,73.0,4537.0,683.0,17515234.0,257873.0,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Liechtenstein,Europe,3.813900e+04,89,NaN,1.0,NaN,85.0,NaN,3.0,NaN,2334.0,26.0,900.0,23598.0,Europe
Macao,Asia,6.501930e+05,46,NaN,NaN,NaN,46.0,NaN,0.0,NaN,71.0,NaN,4071.0,6261.0,NaN
Timor-Leste,Asia,1.320812e+06,25,NaN,NaN,NaN,24.0,NaN,1.0,NaN,19.0,NaN,4238.0,3209.0,South-EastAsia
Laos,Asia,7.285750e+06,20,NaN,NaN,NaN,19.0,NaN,1.0,NaN,3.0,NaN,29374.0,4032.0,WesternPacific
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe

### mettre en évidence des valeurs qui sont (ou non) vides (NaN).

In [ ]:
reviews.loc[reviews.TotalRecovered.notnull()]

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
Country/Region,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa

### Add critic full everyone

In [ ]:
reviews['critic'] = 'everyone'
reviews['critic']

Country/Region
USA                      everyone
Brazil                   everyone
India                    everyone
Russia                   everyone
South Africa             everyone
                           ...
Montserrat               everyone
Caribbean Netherlands    everyone
Falkland Islands         everyone
Vatican City             everyone
Western Sahara           everyone
Name: critic, Length: 209, dtype: object

In [ ]:
reviews

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,critic,index_backwards
Country/Region,,,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,everyone,209
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas,everyone,208
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia,everyone,207
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe,everyone,206
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa,everyone,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN,everyone,5
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN,everyone,4
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN,everyone,3
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe,everyone,2
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa,everyone,1

### Ajouter index_bacward

In [ ]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

Country/Region
USA                      209
Brazil                   208
India                    207
Russia                   206
South Africa             205
                        ...
Montserrat                 5
Caribbean Netherlands      4
Falkland Islands           3
Vatican City               2
Western Sahara             1
Name: index_backwards, Length: 209, dtype: int64

In [ ]:
reviews

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,critic,index_backwards
Country/Region,,,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,everyone,209
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas,everyone,208
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia,everyone,207
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe,everyone,206
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa,everyone,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN,everyone,5
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN,everyone,4
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN,everyone,3
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe,everyone,2
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa,everyone,1

In [ ]:
#import pandas as pd
#pd.set_option('max_rows', 5)
#import numpy as np
#reviews = pd.read_csv("covid (1).csv", index_col=0)

In [ ]:
## Restrucutre de données

In [ ]:
reviews.TotalCases.describe()

count    2.090000e+02
mean     9.171850e+04
std      4.325867e+05
min      1.000000e+01
25%      7.120000e+02
50%      4.491000e+03
75%      3.689600e+04
max      5.032179e+06
Name: TotalCases, dtype: float64

In [ ]:
reviews.Continent.describe()

count        208
unique         6
top       Africa
freq          57
Name: Continent, dtype: object

### statistiques récapitulatives simples

In [ ]:
reviews.TotalTests.mean()

1402404.7015706806

### pour voir une liste de valeurs uniques

In [ ]:
reviews.Continent.unique()

array(['North America', 'South America', 'Asia', 'Europe', 'Africa',
       'Australia/Oceania', nan], dtype=object)

### une liste de valeurs uniques et leur fréquence d'apparition

In [ ]:
reviews.Continent.value_counts()

Africa               57
Asia                 48
Europe               48
North America        35
South America        14
Australia/Oceania     6
Name: Continent, dtype: int64

###

In [ ]:
review_TotalCases = reviews.TotalCases.mean()
reviews.TotalCases.map(lambda p: p - review_TotalCases)

Country/Region
USA                      4.940461e+06
Brazil                   2.825844e+06
India                    1.933691e+06
Russia                   7.801755e+05
South Africa             4.464655e+05
                             ...
Montserrat              -9.170550e+04
Caribbean Netherlands   -9.170550e+04
Falkland Islands        -9.170550e+04
Vatican City            -9.170650e+04
Western Sahara          -9.170850e+04
Name: TotalCases, Length: 209, dtype: float64

### Changer la valeur sans affecter celle d'origine

In [ ]:
def remean_TotalCases(row):
    row.TotalCases = row.TotalCases - review_TotalCases
    return row

reviews.apply(remean_TotalCases, axis='columns')

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,critic,index_backwards
Country/Region,,,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,4.940461e+06,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,everyone,209
Brazil,South America,2.127107e+08,2.825844e+06,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas,everyone,208
India,Asia,1.381345e+09,1.933691e+06,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia,everyone,207
Russia,Europe,1.459409e+08,7.801755e+05,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe,everyone,206
South Africa,Africa,5.938157e+07,4.464655e+05,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa,everyone,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,-9.170550e+04,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN,everyone,5
Caribbean Netherlands,North America,2.624700e+04,-9.170550e+04,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN,everyone,4
Falkland Islands,South America,3.489000e+03,-9.170550e+04,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN,everyone,3
Vatican City,Europe,8.010000e+02,-9.170650e+04,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe,everyone,2
Western Sahara,Africa,5.986820e+05,-9.170850e+04,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa,everyone,1

In [ ]:
reviews

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,critic,index_backwards
Country/Region,,,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,everyone,209
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas,everyone,208
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia,everyone,207
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe,everyone,206
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa,everyone,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN,everyone,5
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN,everyone,4
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN,everyone,3
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe,everyone,2
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa,everyone,1

In [ ]:
reviews.head(1)

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,critic,index_backwards
Country/Region,,,,,,,,,,,,,,,,,
USA,North America,331198130.0,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,everyone,209

### Changer la valeur sans affecter celle d'origine

In [ ]:
review_TotalCases_mean = reviews.TotalCases.mean()
reviews.TotalCases - review_TotalCases_mean

Country/Region
USA                      4.940461e+06
Brazil                   2.825844e+06
India                    1.933691e+06
Russia                   7.801755e+05
South Africa             4.464655e+05
                             ...
Montserrat              -9.170550e+04
Caribbean Netherlands   -9.170550e+04
Falkland Islands        -9.170550e+04
Vatican City            -9.170650e+04
Western Sahara          -9.170850e+04
Name: TotalCases, Length: 209, dtype: float64

In [ ]:
reviews

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,critic,index_backwards
Country/Region,,,,,,,,,,,,,,,,,
USA,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,everyone,209
Brazil,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas,everyone,208
India,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia,everyone,207
Russia,Europe,1.459409e+08,871894,NaN,14606.0,NaN,676357.0,NaN,180931.0,2300.0,5974.0,100.0,29716907.0,203623.0,Europe,everyone,206
South Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa,everyone,205
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,North America,4.992000e+03,13,NaN,1.0,NaN,10.0,NaN,2.0,NaN,2604.0,200.0,61.0,12220.0,NaN,everyone,5
Caribbean Netherlands,North America,2.624700e+04,13,NaN,NaN,NaN,7.0,NaN,6.0,NaN,495.0,NaN,424.0,16154.0,NaN,everyone,4
Falkland Islands,South America,3.489000e+03,13,NaN,NaN,NaN,13.0,NaN,0.0,NaN,3726.0,NaN,1816.0,520493.0,NaN,everyone,3
Vatican City,Europe,8.010000e+02,12,NaN,NaN,NaN,12.0,NaN,0.0,NaN,14981.0,NaN,NaN,NaN,Europe,everyone,2
Western Sahara,Africa,5.986820e+05,10,NaN,1.0,NaN,8.0,NaN,1.0,NaN,17.0,2.0,NaN,NaN,Africa,everyone,1

### un moyen simple de combiner les informations

In [ ]:
#reviews.Continent + " - " + reviews.TotalDeaths

### Page 4 Group by (REGROUPER PAR)

In [ ]:
reviews.groupby('Continent').Continent.count()

Continent
Africa               57
Asia                 48
Australia/Oceania     6
Europe               48
North America        35
South America        14
Name: Continent, dtype: int64

In [ ]:
### Afficher le minimum de chaque categories

In [ ]:
reviews.groupby('Continent').TotalDeaths.min()

Continent
Africa                1.0
Asia                  3.0
Australia/Oceania     1.0
Europe                1.0
North America         1.0
South America        22.0
Name: TotalDeaths, dtype: float64

In [ ]:
reviews.groupby([ 'Continent']).apply(lambda df: df.loc[df.TotalDeaths.idxmax()])

,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region,critic,index_backwards
Continent,,,,,,,,,,,,,,,,,
Africa,Africa,5.938157e+07,538184,NaN,9604.0,NaN,387316.0,NaN,141264.0,539.0,9063.0,162.0,3149807.0,53044.0,Africa,everyone,205
Asia,Asia,1.381345e+09,2025409,NaN,41638.0,NaN,1377384.0,NaN,606387.0,8944.0,1466.0,30.0,22149351.0,16035.0,South-EastAsia,everyone,207
Australia/Oceania,Australia/Oceania,2.552886e+07,19890,NaN,255.0,NaN,10941.0,NaN,8694.0,52.0,779.0,10.0,4631419.0,181419.0,WesternPacific,everyone,142
Europe,Europe,6.792203e+07,308134,NaN,46413.0,NaN,NaN,NaN,NaN,73.0,4537.0,683.0,17515234.0,257873.0,Europe,everyone,198
North America,North America,3.311981e+08,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas,everyone,209
South America,South America,2.127107e+08,2917562,NaN,98644.0,NaN,2047660.0,NaN,771258.0,8318.0,13716.0,464.0,13206188.0,62085.0,Americas,everyone,208

In [ ]:
reviews.groupby(['Continent']).Population.agg([len, min, max])

                   len       min           max
Continent
Africa              57   98408.0  2.066063e+08
Asia                48  437893.0  1.381345e+09
Australia/Oceania    6  281072.0  2.552886e+07
Europe              48     801.0  1.459409e+08
North America       35    4992.0  3.311981e+08
South America       14    3489.0  2.127107e+08